<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Mohamed Ben Mohamed</h1>
        <h3>Software Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/medb2mm" target="_blank">
            <img src="../../assets/LinkedIn_icon_circle.svg.png" width="24" height="24" class="rounded_circle me-2">
        </a>
        <a href="https://github.com/medb2m" target="_blank">
            <img src="../../assets/github25231.png" width="24" height="24" class="rounded_circle me-2">
        </a>
    </div>
</div>