<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About ME</h2>
                <img src="../../assets/DSC_6155.JPG" alt="profile picture" width="235" height="320" class="rounded-circle">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem ullam facilis sequi minus ex, quidem blanditiis illum pariatur nostrum porro, asperiores tempore dolore quae et nulla quod, vel numquam.</p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>